---
kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1


generatorOptions:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Prune=false
  disableNameSuffixHash: true

secretGenerator:
  - files:
      - htpasswd=files/users.htpasswd
    name: htpass-secret
    namespace: openshift-config
    type: Opaque

secretGenerator:
  - files:
      - bindPassword=files/secret-ldap
    name: ldap-secret
    namespace: openshift-config
    type: Opaque

configMapGenerator:
  - files:
      - ca.crt=files/ldap-ca.crt
    name: ca-ldap
    namespace: openshift-config


resources:
  - ../../base
  - cluster-admin-role.yaml
patches:
  - path: oauth-htpass-patch.yaml
    target:
      group: config.openshift.io
      kind: OAuth
      name: cluster
      version: v1
